<!-- Contact Main Form Section -->
<section class="home-expertise contact-form-main-sec section-padding">
    <div class="d-flex space-b a-start flex-wrap">
        <div class="expertise-child">
            <div class="yellow-bar inner-div-bar"> </div>
            {% if section.settings.heading != blank %}
                <h2> {{ section.settings.heading }} </h2>                    
            {% endif %}
            <div class="contact-main-form-div">
                {%- form 'contact', id: 'ContactForm' -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    {%- if form.posted_successfully? -%}
                        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                            {% render 'icon-success' %}
                            {{ 'templates.contact.form.post_success' | t }}
                        </h2>
                        {%- elsif form.errors -%}
                        <div class="form__message">
                            <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                            {% render 'icon-error' %}
                            {{ 'templates.contact.form.error_heading' | t }}
                            </h2>
                        </div>
                        <ul class="form-status-list caption-large" role="list">
                            <li>
                            <a href="#ContactForm-email" class="link">
                                {{ form.errors.translated_fields.email | capitalize }}
                                {{ form.errors.messages.email }}
                            </a>
                            </li>
                        </ul>
                    {%- endif -%}
                    <div class="form-field-contact d-flex f-col a-start">
                        <label class="form-label-contact">{{ 'templates.contact.form.name' | t }}</label>
                        <input
                             class="input-field-contact"
                            autocomplete="name"
                            type="text"
                            id="ContactForm-name"
                            name="contact[{{ 'templates.contact.form.name' | t }}]"
                            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"  >
                    </div>
                    <div class="form-field-contact d-flex f-col a-start">
                        <label class="form-label-contact">{{- 'templates.contact.form.email' | t }}</label>
                        <input
                            autocomplete="email"
                            type="email"
                            id="ContactForm-email"
                            class="input-field-contact"
                            name="contact[email]"
                            spellcheck="false"
                            autocapitalize="off"
                            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                            aria-required="true"
                            {% if form.errors contains 'email' %}
                            aria-invalid="true"
                            aria-describedby="ContactForm-email-error"
                            {% endif %}                           
                        >
                        {%- if form.errors contains 'email' -%}
                            <small class="contact__field-error" id="ContactForm-email-error">
                              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                              <span class="form__message">
                                {%- render 'icon-error' -%}
                                {{- form.errors.translated_fields.email | capitalize }}
                                {{ form.errors.messages.email -}}
                              </span>
                            </small>
                          {%- endif -%}
                    </div>
                    <div class="form-field-contact d-flex f-col a-start">
                        <label class="form-label-contact">{{ 'templates.contact.form.phone' | t }}</label>
                        <input
                            type="tel"
                            id="ContactForm-phone"
                            class="input-field-contact"
                            autocomplete="tel"
                            name="contact[{{ 'templates.contact.form.phone' | t }}]"
                            pattern="[0-9\-]*"
                            value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"                           
                            >
                    </div>
                    <div class="form-field-contact d-flex f-col a-start">
                        <label class="form-label-contact">{{- 'templates.contact.form.comment' | t -}}</label>
                        <textarea
                            id="ContactForm-body"
                            class="input-textarea-contact"
                            name="contact[{{ 'templates.contact.form.comment' | t }}]"
                            placeholder="Type Here"
                            >
                            {{- form.body -}}
                            </textarea>
                    </div>
                    {% if section.settings.show_accept_marketing %}                        
                        <div class="form-field-contact">
                            <label class="form-label-checkbox" for="agreement-click">
                                <input class="form-checkbox-contact" type="checkbox"  id="agreement-click" name="customer[accepts_marketing]" value="true">
                                <span class="checkmark"></span>
                                {{ section.settings.checkbox_text }}
                            </label>
                        </div>
                    {% endif %}
                    
                    <div class="form-field-contact d-flex a-center jc-center">
                        <button class="primary-btn">{{ 'templates.contact.form.send' | t }}</button>
                    </div>
                {%- endform -%}
            </div>
        </div>
        <div class="expertise-child">
            {% render 'image-snippet', image: section.settings.image %}
        </div>
    </div>
</section>



{% schema %}
    {
        "name": "Contact Form",        
        "settings": [
            {
                "type": "html",
                "id": "heading",
                "label": "Heading",
                "default": "<span>We’re Here</span> to Help<br> You Rest Easy"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "header",
                "content": "Form"
            },
            {
                "type": "checkbox",
                "id": "show_accept_marketing",
                "label": "Accept Marketing",
                "default": true
            },
            {
                "type": "text",
                "id": "checkbox_text",
                "label": "Checkbox Text",
                "default": "Opt in for South Bay International’s newsletter."
            }
        ],
        "presets": [
            {
                "name": "Contact Form"
            }
        ]
    }
{% endschema %}