
<!-- Home Hero Section -->
<section class="home-hero-section">
    <div class="home-first-sec-bg extra-background-image  d-flex a-center jc-start"
        style="background-image: url({{ section.settings.bg_image_1 | image_url }});">
        <div class="container">
            <h1 class="home-hero-heading">
                {{ section.settings.heading }}
            </h1>
        </div>
    </div>
    <div class="home-first-sec-bg large-background-image  d-flex a-center jc-start"
        style="background-image: url({{ section.settings.bg_image_2 | image_url }});">
        <div class="container">
            <h1 class="home-hero-heading">
                {{ section.settings.heading }}
            </h1>
        </div>
    </div>
    <div class="home-first-sec-bg ipad-pro-background-image  d-flex a-center jc-start"
        style="background-image: url({{ section.settings.bg_image_3 | image_url }});">
        <div class="container">
            <h1 class="home-hero-heading">
                {{ section.settings.heading }}
            </h1>
        </div>
    </div>
    <div class="home-first-sec-bg mobile-ipad-background-image  d-flex a-center jc-start"
        style="background-image: url({{ section.settings.bg_image_4 | image_url }});">
        <div class="container">
            <h1 class="home-hero-heading">
                 {{ section.settings.heading }}
            </h1>
        </div>
    </div>
    <div class="bottom-vector-global d-flex">
        <img src="{{ 'bottom-vector.png'| asset_url }}" alt="bottom-vector">
    </div>
</section>

{% schema %}
    {
        "name": "Hero",
        "settings": [
            {
                "type": "image_picker",
                "id": "bg_image_1",
                "label": "Large Image"
            },
            {
                "type": "image_picker",
                "id": "bg_image_2",
                "label": "Desktop Image"
            },
            {
                "type": "image_picker",
                "id": "bg_image_3",
                "label": "Tab Image"
            },
            {
                "type": "image_picker",
                "id": "bg_image_4",
                "label": "Mobile Image"
            },
            {
                "type": "html",
                "id": "heading",
                "label": "Heading"
            }
        ],
        "presets": [
            {
                "name": "Hero"
            }
        ]
    }
{% endschema %}
