<!-- Home Only Visuals -->
<section class="home-only-visuals">
    <div class="home-first-sec-bg large-background-image  d-flex a-center jc-start"
        style="background-image: url({{ section.settings.image | image_url }});">
    </div>
    {% if section.settings.image_1 != blank %}
    <div class="home-first-sec-bg mobile-ipad-background-image  d-flex a-center jc-start"
        style="background-image: url({{ section.settings.image_1 | image_url }});">
    </div>
    {% else %}
     <div class="home-first-sec-bg large-background-image  d-flex a-center jc-start"
          style="background-image: url({{ section.settings.image | image_url }});">
      </div>
    {% endif %}
  {% unless section.settings.vector_position == 'none' %}    
        {% if section.settings.vector_position == 'left' %}
            <div class="bottom-vector-global d-flex">
                <img src="{{ 'bottom-vector.png'| asset_url }}" alt="bottom-vector">
            </div>
        {% endif %}    
        {% if section.settings.vector_position == 'right' %}
            <div class="bottom-vector-global bottom-vector-right d-flex">
                <img src="{{ 'bottom-right-vector.png'| asset_url }}" alt="bottom-right-vector">
            </div>
        {% endif %}    
    {% endunless %}
</section>

{% schema %}
  {
    "name": "Image",
    "settings" : [
          {
              "type": "image_picker",
              "id": "image",
              "label": "Desktop Image"
          },
          {
              "type": "image_picker",
              "id": "image_1",
              "label": "Mobile Image"
          },
            {
                "type": "select",
                "id": "vector_position",
                "label": "Bottom Image",
                "options": [
                    {
                        "value": "none",
                        "label": "None"
                    },
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ],
                "default": "none"
            }
    ],
        "presets": [
            {
                "name": "Image"
            }
        ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}