
{% liquid
  assign image = false
  for block in section.blocks            
        if section.blocks.size > 1
        assign image = true
        endif    
  endfor
%}

<!-- Home Partner -->
<section class="home-partner section-padding">
    <div class="flex-custom d-flex a-start space-b flex-wrap">
        <div class="home-partner-child tab-hidden-images">
            <div class="swiper mySwiper partner-swiper">
                <div class="swiper-wrapper">
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'image' %}
                      <div class="swiper-slide">                        
                        {% render 'image-snippet', image: block.settings.image %}
                    </div>
                    {% endcase %}
                  {% endfor %}
                </div>
            </div>
            {% if image %}
            <div class="nav-icons-slider d-flex f-col a-center">
                <div class="swiper-button-next">
                    <img src="{{ 'arrow-up.svg' | asset_url }}" alt="arrow-up">
                </div>
                <div class="swiper-button-prev">
                  <img src="{{ 'arrow-down.svg' | asset_url }}" alt="arrow-down">                    
                </div>
            </div>
          {% endif %}
        </div>
        <div class="home-partner-child">
            <div class="section-bar-partners"> </div>
            {% if section.settings.heading != blank %}
                <h2> {{ section.settings.heading }} </h2>                    
            {% endif %}
            <div class="home-partner-child desktop-hidden-images inner-slider-partner">
                <div class="swiper mySwiper partner-swiper">
                    <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                          {% case block.type %}
                            {% when 'image' %}
                            <div class="swiper-slide">                        
                              {% render 'image-snippet', image: block.settings.image_1 %}
                          </div>
                          {% endcase %}
                        {% endfor %}
                    </div>
                </div>
              {% if image %}
                <div class="nav-icons-slider d-flex f-col a-center">
                    <div class="swiper-button-next">
                        <img src="{{ 'arrow-up.svg' | asset_url }}" alt="arrow-up">
                    </div>
                    <div class="swiper-button-prev">
                        <img src="{{ 'arrow-down.svg' | asset_url }}" alt="arrow-down">      
                    </div>
                </div>
                {% endif %}
            </div>
            {% if section.settings.text != blank %}
                <p> {{ section.settings.text }} </p>
            {% endif %}
             {% if section.settings.button_text_1 != blank %}                
                <a class="primary-btn" href="{{ section.settings.button_url_1 | default : "#." }}"> {{ section.settings.button_text_1 }} </a>
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Partners",
        "settings": [
            {
                "type": "html",
                "id": "heading",
                "label": "Heading",
                "default": "<span>Your Partner</span> in<br> Innovation"
            },
            {
                "type": "inline_richtext",
                "id": "text",
                "label": "Text",
                "default": "At South Bay International, we’re building better sleep brands. As one of the largest mattress and adjustable base factories in the world, we have the space to dream big. From pioneering the “Bed in a Box” concept to innovating the latest adjustable bases, partnering with us means you never have to miss out on zzz’s. We’ve got your customers’ backs as they rest upon our expertise."
            },
            {
                "type": "text",
                "id": "button_text_1",
                "label": "Button Text",
                "default": "Explore<br> Our Products"
            },
            {
                "type": "url",
                "id": "button_url_1",
                "label": "Button URL"
            }
        ],
        "blocks": [
            {
               "name" : "Image",
                "type" : "image",
              "settings" : [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Desktop Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_1",
                        "label": "Mobile Image"
                    }
              ]
            }
        ],
        "presets": [
            {
                "name" : "Partners"
            }
        ]
    }
{% endschema %}
