
  {% for article in blog.articles %}
    {% if forloop.first %}      
      <section class="featured-blog-section">
        <div class="container">
            <div class="featured-blog-main">
                <div class="featured-blog-flex d-flex flex-wrap space-b">
                    <div class="featured-blog-left">
                        <div class="featured-blog-content">
                            <div class="featured-blog-heading">
                                <h3> {{ settings.featured_text }} </h3>
                            </div>
                            <p> {{- article.published_at | time_tag: format: 'date' -}} </p>
                            <h3> {{ article.title | truncate: 50 | escape }} </h3>
                            <a href="{{ article.url }}" class="primary-btn">{{ settings.read_more }}</a>
                        </div>
                    </div>
                    <div class="featured-blog-right">
                        <div class="featured-blog-image">
                            <div class="desk-large">
                                {% render 'image-snippet', image: article.image %}
                            </div>
                            {% if article.metafields.custom.desktop_image %}
                            <div class="desk-small">
                               {% render 'image-snippet', image: article.metafields.custom.desktop_image %}
                            </div>
                          {% endif %}
                            {% if article.metafields.custom.tablet_image %}
                            <div class="tablet-data">
                                {% render 'image-snippet', image: article.metafields.custom.tablet_image %}
                            </div>
                          {% endif %}
                            {% if article.metafields.custom.mobile_image %}
                            <div class="mobile-data">
                                {% render 'image-snippet', image: article.metafields.custom.mobile_image %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="featured-blog-link mobile-data">
                            <a href="{{ article.url }}" class="primary-btn">{{ settings.read_more }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="featured-blog-bar"> </div>
        </div>
    </section>
    {% endif %}
  {% endfor %}
  {%- paginate blog.articles by 7 -%}
    <section class="blogs-grid-section">
        <div class="container">
            <div class="blogs-grid-main">
                {% if settings.blog_heading %}
                <div class="blogs-grid-head">
                    <h2> {{ settings.blog_heading }} </h2>
                </div>
                {% endif %}
                <div data-next-url="{{ paginate.next.url }}" class="products-on-page blogs-grid-flex d-flex flex-wrap space-b">
                  {% for article in blog.articles offset: 1 %}  
                      {% render 'custom-article-card',
                        article: article,
                        show_image: section.settings.show_image,
                        show_date: section.settings.show_date,
                        show_author: section.settings.show_author,                        
                        show_excerpt: section.settings.show_excerpt                        
                      %}                      
                  {% endfor %}
                </div>
                {%- if paginate.pages > 1 -%}
                <div class="load-more blog-view-more">
                    <a href="javascript:void(0)" class="load-more__btn primary-btn"> {{ settings.view_more }} </a>
                    <div class="load-more__spinner"> </div>
                </div>
              {%- endif -%}
            </div>
        </div>
    </section>
{%- endpaginate -%}
{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "Display Image"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": false,
      "label": "Show Excerpt"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    }
  ]
}
{% endschema %}
