
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}     
{%- liquid
case section.settings.sort
  when 'products_high', 'products_low'
    assign collections = collections | sort: 'all_products_count'
  when 'date', 'date_reversed'
    assign collections = collections | sort: 'published_at'
endcase

if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
  assign collections = collections | reverse
endif

assign moduloResult = 28 | modulo: section.settings.columns_desktop
assign paginate_by = 30
if moduloResult == 0
  assign paginate_by = 28
endif
-%}
<!-- Home Sustainability -->
{%- paginate collections by paginate_by -%}
<section class="home-partner explore-products home-sustainability section-padding">
    <div class="container">

    {%- for collection in collections -%}
      {% if forloop.first %}
        <div class="flex-custom d-flex space-b flex-wrap f-row-reverse">
            <div class="home-partner-child tab-hidden-images explore-products-child">
              {% render 'image-snippet', image: collection.image %}
            </div>
            <div class="home-partner-child explore-products-child">
                <div class="section-bar-partners"> </div>
                <h2><span> {{ collection.title }} </span></h2>
                {% render 'image-snippet', image: collection.image, class: 'desktop-hidden-images' %}                
                <div class="collection-des">
                  {{ collection.description }}
                </div>
                <a class="primary-btn" href="{{ collection.url }}">Learn More</a>
            </div>
        </div>
        {% endif %}
    {%- endfor -%}


        <!-- Product Rows -->
        <div class="explore-products-rows">
          {%- for collection in collections -%}
            {% unless forloop.first %}
              <div class="explore-products-row">
                <div class="explore-products-flex d-flex space-b a-end">
                    <div class="explore-product-left">
                        <h2><span>{{ collection.title }}</span></h2>
                        {% render 'image-snippet', image: collection.image, class: 'desktop-hidden-images' %}
                        <div class="collection-des">
                          {{ collection.description }}
                        </div>
                        <a class="primary-btn" href="{{ collection.url }}">Learn More</a>
                    </div>
                    <div class="explore-product-right">
                      {% render 'image-snippet', image: collection.image %}
                    </div>
                </div>
            </div>
            {% endunless %}
          {%- endfor -%}
        </div>
        {% render 'pagination', paginate: paginate %}
    </div>
</section>
{%- endpaginate -%}
{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-list-collections.settings.image_ratio.label",
      "info": "t:sections.main-list-collections.settings.image_ratio.info"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-list-collections.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-list-collections.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "2",
      "label": "t:sections.main-list-collections.settings.columns_mobile.label"
    }
  ]
}
{% endschema %}
