
<!-- Global Hero Section -->
<section class="home-hero-section global-banner">
    <div class="home-first-sec-bg extra-background-image  d-flex a-center jc-start"
        style="background-image: url({{ section.settings.bg_image_1 | image_url }});">
        <div class="container">
            <h1 class="home-hero-heading">
                {{ section.settings.heading }}
            </h1>
        </div>
    </div>
    <div class="home-first-sec-bg large-background-image  d-flex a-center jc-start"
        style="background-image: url({{ section.settings.bg_image_2 | image_url }});">
        <div class="container">
            <h1 class="home-hero-heading">
                {{ section.settings.heading }}
            </h1>
        </div>
    </div>
    <div class="home-first-sec-bg ipad-pro-background-image  d-flex a-center jc-start"
        style="background-image: url({{ section.settings.bg_image_3 | image_url }});">
        <div class="container">
            <h1 class="home-hero-heading">
                {{ section.settings.heading }}
            </h1>
        </div>
    </div>
    <div class="home-first-sec-bg mobile-ipad-background-image  d-flex a-center jc-start"
        style="background-image: url({{ section.settings.bg_image_4 | image_url }});">
        <div class="container">
            <h1 class="home-hero-heading">
                {{ section.settings.heading }}
            </h1>
        </div>
    </div>
   {% unless section.settings.vector_position == 'none' %}    
        {% if section.settings.vector_position == 'left' %}
            <div class="bottom-vector-global d-flex">
                <img src="{{ 'bottom-vector.png'| asset_url }}" alt="bottom-vector">
            </div>
        {% endif %}    
        {% if section.settings.vector_position == 'right' %}
            <div class="bottom-vector-global bottom-vector-right d-flex">
                <img src="{{ 'bottom-right-vector.png'| asset_url }}" alt="bottom-right-vector">
            </div>
        {% endif %}    
    {% endunless %}
</section>

{% schema %}
    {
        "name": "Page Banner",        
        "settings": [
            {
                "type": "html",
                "id": "heading",
                "label": "Heading",
                "default": "Customize Your Sleep</span><br> Products with Us"
            },
             {
                "type": "image_picker",
                "id": "bg_image_1",
                "label": "Large Image"
            },
            {
                "type": "image_picker",
                "id": "bg_image_2",
                "label": "Desktop Image"
            },
            {
                "type": "image_picker",
                "id": "bg_image_3",
                "label": "Tab Image"
            },
            {
                "type": "image_picker",
                "id": "bg_image_4",
                "label": "Mobile Image"
            },
            {
                "type": "select",
                "id": "vector_position",
                "label": "Vector Image",
                "options": [
                    {
                        "value": "none",
                        "label": "None"
                    },
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ],
                "default": "none"
            }
        ],
        "presets": [
            {
                "name": "Page Banner"
            }
        ]
    }
{% endschema %}